#comments {
	margin: 0 auto;
	padding: 60px 0;
	max-width: $size-post-width;
}

.comments-title,
.comment-reply-title {
	margin: 40px 0;
	font-family: $font-slab;
	@include uppercase-serif;
	@include font-size( 1.8 );
	line-height: 1.32143;
}

.logged-in-as {
	@include font-size( 1.4 );
}

.commentlist {
	list-style: none;
	margin: 0;

	.children {
		list-style: none;
		margin: 0 0 0 20px;
	}

	article.comment {
		margin-bottom: 40px;

		.avatar {
			margin-right: 10px;
		}

		.comment-meta {
			text-align: right;
			@include font-size( 1.4 );
		}
	}
}
