#main {
	clear: both;
	margin: 0 auto;
}

.page-header {
	display: none;
}

.entry-title {
	font-family: $font-slab;
	@include uppercase-serif;
	@include font-size( 2.8 );
	line-height: 1.32143;
	color: $red;
}

#content {
	background: white;

	& > .hentry {
		position: relative;
		margin: 0 auto 0;
		padding: 60px 0;
		max-width: $size-post-width;
		background: white;
	}

	.attachment-post-thumbnail {
		margin: 0 auto;
		padding-top: 50px;
		display: block;
		max-width: 600px;
		height: auto;
	}
	
	.post-navigation {
		margin: 40px auto;
		font-family: $font-slab;
		@include uppercase-serif;
		@include font-size( 1.8 );
		line-height: 1.32143;
		
		max-width: $size-post-width;
	}
}

@import 'content/home';
