#main {
	clear: both;
	margin: 0 auto;
}

.page-header {
	display: none;
}

.entry-title {
	font-family: $font-slab;
	@include uppercase-serif;
	@include font-size( 2.8 );
	line-height: 1.32143;
	color: $red;
}

#content {
	background: white;

	@media ( max-width: ( $size-post-width + 20px ) ) {
		padding-left: 20px;
		padding-right: 20px;
	}

	& > .hentry {
		position: relative;
		margin: 0 auto 0;
		padding: 60px 0;
		max-width: $size-post-width;
		background: white;
	}

	.attachment-post-thumbnail {
		margin: 0 auto;
		padding-top: 50px;
		display: block;
		max-width: 600px;
		height: auto;

		@media ( max-width: 640px ) {
			max-width: 100%;
		}
	}

	.post-navigation {
		margin: 40px auto;
		font-family: $font-slab;
		@include uppercase-serif;
		@include font-size( 1.8 );
		line-height: 1.32143;

		max-width: $size-post-width;
	}

	@media ( max-width: 520px ) {
		.nav-previous,
		.nav-next {
			float: none;
			width: 100%;
		}

		.nav-previous + .nav-next {
			margin-top: 20px;
		}
	}
}

// Fancy Headers
.page-slug-speakers,
.page-slug-organizers,
.page-slug-attendees {
	#content {
		overflow-x: hidden;
	}

	#content > .hentry {
		padding-top: 0;
	}

	.entry-header {
		position: relative;
		height: 100px;
		text-align: center;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: -500px;
			right: -500px;
			height: 10px;
			background: $grey-light;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}
	}

	.entry-title {
		position: absolute;
		top: 4px;
		left: calc( 50% - 150px );
		padding: 18px 60px;
		width: 300px;
		text-align: center;
		background: $blue;
		color: white;

		&:before {
			content:' ';
			position: absolute;
			top: 0;
			right: -6px;
			width: 0;
			height: 0;
			border-width: 3px;
			border-style: solid;
			border-color: transparent transparent $blue-dark $blue-dark;
		}
	}
}

@import 'content/home';
@import 'content/organizers';
@import 'content/tickets';
@import 'content/attendees';
