.site-header {
	margin-top: 80px;
}

.site-header hgroup {
	display: block;
	padding: 40px 0 100px;
	background: $blue-mid url($img-boats) repeat-x center;
	
	.home & {
		height: 650px;
		background: $blue-mid url($img-skyline) repeat-x top center;
	}
}

.site-title {
	position: relative;
	z-index: 10;
	margin: 0 auto;
	padding: 20px;
	width: 289px;
	background: white;

	a {
		display: block;
		width: 249px;
		height: 122px;
		background: url($img-logo) no-repeat center;
		text-indent: -9999em;
	}
	
	.home & {
		margin: 220px auto 0;
		padding: 30px;
		width: 465px;
		
		a {
			width: 415px;
			height: 180px;
		}
	}
}

.main-navigation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	height: 80px;
	background: white;
	@include uppercase-sans;
	@include font-size( 1.6 );
	line-height: 40px;

	.admin-bar & {
		top: 32px;
	}

	a {
		padding: 20px;
		color: $color-text;
		text-decoration: none;

		@include hover-state {
			color: #7C7D8C;
		}
	}

	.callout {
		float: right;

		a {
			margin: 13px 10px;
			padding: 7px 15px;
			border-radius: 3px;
			color: white;
			background-color: $red;

			@include hover-state {
				background-color: darken( $red, 5% );
			}
		}
	}
}
