.site-header {
	margin-top: 80px;
}

.site-header hgroup {
	display: block;
	padding: 40px 0 100px;
	background: $blue-mid url($img-boats) repeat-x center;

	.home & {
		height: 650px;
		background: $blue-mid url($img-skyline) repeat-x top center;
	}
}

.site-title {
	position: relative;
	z-index: 10;
	margin: 0 auto;
	padding: 20px;
	width: 289px;
	background: white;

	a {
		display: block;
		width: 249px;
		height: 122px;
		background: url($img-logo) no-repeat center;
		text-indent: -9999em;
	}

	.home & {
		margin: 220px auto 0;
		padding: 30px;
		width: 465px;

		a {
			width: 415px;
			height: 180px;
		}
	}
}

@media ( max-height: 400px ) {
	.home .site-header hgroup {
		height: 500px;
	}

	.home .site-title {
		margin-top: 70px;
	}
}

@media ( max-width: 500px ) {
	.home .site-title {
		width: 90vw;

		a {
			width: calc( 90vw - 60px );
			height: 90vw * 0.43373494;
		}
	}
}

.main-navigation,
.main-small-navigation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	height: 80px;
	background: white;
	@include uppercase-sans;
	@include font-size( 1.6 );
	line-height: 40px;

	.admin-bar & {
		top: 32px;

		@media ( max-width: 782px ) {
			top: 46px;
		}
	}
}

.main-navigation {
	a {
		padding: 20px;
		color: $color-text;
		text-decoration: none;

		@include hover-state {
			color: #7C7D8C;
		}
	}

	.callout {
		float: right;

		a {
			margin: 13px 10px;
			padding: 7px 15px;
			border-radius: 3px;
			color: white;
			background-color: $red;

			@include hover-state {
				background-color: darken( $red, 5% );
			}
		}

		@media ( max-width: 900px ) {
			display: none;
		}
	}

	ul ul {
		position: absolute;
		top: 80px;
		left: 0;
		float: left;
		padding-bottom: 10px;
		line-height: 1.3;
		box-shadow: none;
		background: white;

		a {
			padding: 10px 20px;
		}
	}
}

.main-small-navigation {
	padding: 0;
	z-index: 10;

	.menu-toggle {
		padding: 20px;
		text-align: center;
		line-height: 40px;
	}

	ul {
		margin: 0;
		padding: 0 20px 20px;
		list-style: none;
		background: white;
	}

	ul ul {
		padding: 0;
		padding-left: 20px;
	}
}
