* {
	box-sizing: border-box;
}

body {
	font-family: $font-sans;
	@include font-size( 1.8 );
	line-height: 1.6;
	color: $color-text;
	background: $grey-light;
}

p {
	margin: 0 0 15px;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

a, a:visited {
	color: $red;
	text-decoration: none;

	@include hover-state {
		color: darken( $red, 5% );
		text-decoration: underline;
	}
}

.entry-content {
	h1, h2, h3 {
		margin: 30px 0 15px;
		font-family: $font-slab;
		@include uppercase-serif;
		line-height: 1.32143;
		color: $blue;
	}
	h1 {
		@include font-size( 2.6 );
	}
	h2 {
		@include font-size( 2.2 );
	}
	h3 {
		@include font-size( 1.8 );
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	margin: 0;
	width: 100%;
	font-family: $font-sans;
	@include font-size( 1.6 );
	line-height: 1;
	color: $color-text;
	background-color: white;
	border-radius: 0;
	border: 1px solid;
	border-color: $blue-light;
	box-shadow: none;

	&:focus {
		outline: none;
		box-shadow: 0 2px 0 $blue-mid;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 10px 20px 8px;
}

textarea {
	padding: 10px 20px 8px;
	width: 100%;
	line-height: 1.5;
}


input[type='button'],
input[type='submit'],
input[type='reset'],
button,
a.cta-button {
	display: inline-block;
	margin: 0;
	padding: 20px 30px;
	font-family: $font-sans;
	@include font-size( 1.6 );
	@include uppercase-sans;
	text-decoration: none;
	line-height: 1;
	color: white;
	background: $blue;
	border: none;
	text-shadow: none;
	box-shadow: none;
	border-radius: 3px;

	@include hover-state {
		outline-color: #bbb;
		background: darken( $blue, 5% );
		box-shadow: none;
		border: none;
	}
}
