* {
	box-sizing: border-box;
}

body {
	font-family: $font-sans;
	@include font-size( 1.8 );
	line-height: 1.6;
	background: $grey-light;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

input,
textarea {
	margin: 0;
	padding: 17px 30px 18px;
	font-family: $font-sans;
	@include font-size( 1.6 );
	line-height: 1;
	border: none;
	box-shadow: none;
	border-radius: 0;
}

textarea {
	line-height: 1.5;
}

a, a:visited {
	color: $red;
	text-decoration: none;

	@include hover-state {
		color: darken( $red, 5% );
		text-decoration: underline;
	}
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
a.cta-button {
	display: inline-block;
	margin: 0;
	padding: 20px 30px;
	font-family: $font-sans;
	@include font-size( 1.6 );
	@include uppercase-sans;
	text-decoration: none;
	line-height: 1;
	color: white;
	background: $blue;
	border: none;
	text-shadow: none;
	box-shadow: none;
	border-radius: 3px;

	@include hover-state {
		outline-color: #bbb;
		background: darken( $blue, 5% );
		box-shadow: none;
		border: none;
	}
}
