* {
	box-sizing: border-box;
}

body {
	font-family: $font-sans;
	@include font-size( 1.8 );
	line-height: 1.6;
	background: #eee;
}

input,
textarea {
	margin: 0;
	padding: 17px 30px 18px;
	font-family: $font-sans;
	@include font-size( 1.6 );
	line-height: 1;
	border: none;
	box-shadow: none;
	border-radius: 0;
}

textarea {
	line-height: 1.5;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button,
a.cta-button {
	display: inline-block;
	margin: 0;
	padding: 20px 30px;
	font-family: $font-sans;
	font-weight: bold;
	@include font-size( 1.6 );
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	line-height: 1;
	color: #646464;
	background: #e0e0e0;
	border: none;
	text-shadow: none;
	box-shadow: none;
	border-radius: 0;

	@include hover-state {
		outline-color: #bbb;
		background: darken( #e0e0e0, 2% );
		box-shadow: none;
		border: none;
	}
}
