$size-main-width: 1100px;

$font-sans: 'Roboto';
$font-slab: 'Roboto Slab';

$color-text: #414453;

$grey-light: #eee;
$grey-lightest: #F9F9F9;

$blue: #283378;
$blue-light: #A6A8C6;
$blue-mid: #6DBBE4;
$blue-dark: #0B1342;

$red: #D82329;

$img-banner-tail: 'data:image/svg+xml;utf8,<svg width="300" height="72" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h300v72L150 4.918 0 72V0z" fill="#283378" fill-rule="evenodd"/></svg>';
