$font-sans: 'Roboto';
$font-slab: 'Roboto Slab';

$img-banner-tail: 'data:image/svg+xml;utf8,<svg width="300" height="72" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h300v72L150 4.918 0 72V0z" fill="#A0A0A0" fill-rule="evenodd"/></svg>';
