.home #content {
	position: relative;
	top: -20px;
	margin-bottom: -20px;
	padding-top: 20px;
	overflow-x: hidden;

	padding-left: 0px !important;
	padding-right: 0px !important;

	&:before {
		content: ' ';
		position: absolute;
		margin-top: -20px;
		width: 100%;
		height: 20px;
		background: $grey-light;
	}
}

.home #content .post {
	padding: 40px 40px 46px;
	max-width: $size-main-width;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: -500px;
		right: -500px;
		height: 6px;
		background: $grey-light;
	}

	&:nth-of-type(1) {
		.byline {
			display: block;
			margin: 10px 0;
		}
	}

	&:nth-of-type(n+2) {
		.entry-content {
			display: none;
		}
	}
	
	.entry-meta {
		display: none;
	}
	
	@media ( min-width: 700px ) {
		padding: 40px 40px 46px 360px;

		&:nth-of-type(1) {
			min-height: 400px;
			
			div.entry-meta:after {
				content:' ';
				position: absolute;
				bottom: -72px;
				left: 0;
				right: 0;
				height: 72px;
				background: url($img-banner-tail);
			}
		}

		&:nth-of-type(n+2) {
			footer.entry-meta {
				display: none;
			}

			.entry-meta {
				top: -6px;
				padding: 25px 0;

				&:before {
					right: -6px;
					border-width: 3px;
				}
			}
		}

		.entry-meta {
			@include font-size( 1.4 );
			@include uppercase-sans;
			display: block;

			color: rgba( white, 0.5 );

			a {
				display: block;
				@include font-size( 1.6 );
				text-decoration: none;
				text-transform: none;
				font-weight: normal;
				letter-spacing: 0;
				color: white;
			}
		}

		div.entry-meta {
			position: absolute;
			top: -20px;
			left: 20px;
			padding: 75px 0 120px;
			width: 300px;
			text-align: center;
			background: $blue;

			&:before {
				content:' ';
				position: absolute;
				top: 0;
				right: -20px;
				width: 0;
				height: 0;
				border-width: 10px;
				border-style: solid;
				border-color: transparent transparent $blue-dark $blue-dark;
			}
		}

		footer.entry-meta {
			position: absolute;
			top: 153px;
			left: 20px;
			margin: 20px 0;
			width: 300px;
			text-align: center;

			.sep {
				display: none;
			}

			.single-post & {
				display: none;
			}
		}

		.comments-link {
			display: none;
		}
	}
}
