
.wcorg-organizers {
	.wcorg-organizer {
		clear: both;
		padding: 30px 0;
		border-bottom: 2px solid $grey-lightest;
	}

	h2 {
		margin: 0 0 15px;
	}
	
	.avatar {
		border-radius: 50%;
		display: block;
		margin: 0 auto 15px;
	}

	@media ( min-width: 400px ) {
		.wcorg-organizer {
			margin-left: 130px;
		}
		.wcorg-organizer-description {
			min-height: 70px;

			.avatar {
				float: left;
				margin-top: -30px;
				margin-left: -130px;
				margin-bottom: 0;
			}
		}
	}

	&:after {
		@include clearfix;
		@include clearfix-after;
	}
}
