// .page-slug-speakers {}

.speaker-gravatar-list {
	display: none;
}

.wcorg-speakers {
	.wcorg-speaker {
		position: relative;
		clear: both;
		padding: 140px 0 40px;
		border-bottom: 2px solid $grey-lightest;

		& + .wcorg-speaker {
			margin-top: 40px;
		}
	}

	h2 {
		margin: 0 0 15px;
		text-align: center;
		text-transform: none;
		@include font-size( 2.2 );
		line-height: 1;
		letter-spacing: 0;
		color: $blue-lighter;
	}

	.avatar {
		position: absolute;
		top: 0;
		left: calc( 50% - 60px );
		border-radius: 50%;
		display: block;
		margin: 0 auto 15px;
		padding: 5px;
		border: 5px solid $blue;
	}

	&:after {
		@include clearfix;
		@include clearfix-after;
	}
}

.single-wcb_speaker {
	.entry-meta {
		display: none;
	}

	.speaker-avatar {
		text-align: center;
	}

	.speaker-avatar img {
		border-radius: 50%;
		display: block;
		margin: 0 auto 15px;
		padding: 5px;
		border: 5px solid $blue;
	}
}

// Special style for Keynote speaker (no gravatar, inline image)
.single-wcb_speaker .post-1301 {
	.speaker-avatar { display: none; }
}

.wcorg-speakers .wcorg-speaker-diane-danielson {
	.avatar { display: none; }
}
